.container{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: border-box;
}

form{
    display: grid;
    gap : 20px;
    margin-bottom: 40px;
}

form > * {
    padding: 10px 15px;
}